@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
#menu,#heart, #bag{
    /* size: 50px; */
    font-size:30px;
}
#menu{
    /* size: 50px; */
    /* height: 50px; */
    font-size:40px;
}
#fav{
    .heart-1 {
        width: 24px; 
        height: 24px;
        background: #FF5252;
        clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
        transform: scale(5);
    }
}